<div class="sidebar-container p-3">
    <div class="sidebar">
        <a routerLink="dashboard"  routerLinkActive="active"><i class="fa fa-fw fa-envelope url-sty" ></i> Dashboard</a>
        <a routerLink="addproduct"  routerLinkActive="active"><i class="fa fa-fw fa-home url-sty" ></i> Add Product</a>
        <a routerLink="viewproduct"  routerLinkActive="active"><i class="fa fa-fw fa-wrench url-sty" ></i> View Product</a>
        <a routerLink="addadmin"  routerLinkActive="active"><i class="fa fa-fw fa-user url-sty" ></i> Add Admin</a>
    </div>
</div>
